@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Noto+San&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.NotoSan-300 {
    font-family: Noto Sans;
    font-weight: 400;
}

.NotoSan-400 {
    font-family: Noto Sans;
    font-weight: 400;
}

.NotoSan-500 {
    font-family: Noto Sans;
    font-weight: 500;
}

.Raleway-300 {
    font-family: Raleway;
    font-weight: 300;
}

.Raleway-600 {
    font-family: Raleway;
    font-weight: 600;
}

.dashboardslide::-webkit-scrollbar {
    display: none;
}
  
.dashboardslide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
